.nav-tabs {
	border-bottom: 0 none;
	@include bp(m) {
	}
}

.tabs-layout .tab-content {
  padding-top: $spacing-s;
}

.tab-content ul {
	@include no-bullet();
	display: inline-block;
	border-bottom: 0 none;
  padding: 0 $spacing-xs;
  @include bp(m) {
	 padding: $spacing-s 0;
  }
}

.nav-tabs li a {
	font-family: $font-headers;
}

.nav-tabs > li > a:hover {
	border-color: transparent;
	@include bp(m) {
    color: $gray;
    border-bottom-color: transparent;
    cursor: pointer;
  }
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
	border: none 0;
	@include bp(m) {
    color: $secondary-color;
    background-color: transparent;
    border-bottom-color: transparent;
    cursor: pointer;
  }
}

.tabs-layout .nav-tabs > li.active {
    border-bottom: 3px solid $secondary-color;

  }
/*
 .tabs-layout {
  overflow: auto;
 }

  .tabs-layout ul.nav-tabs {
    position: relative;
    display: flex;
    padding: 0 $spacing-l;
    &:before {
      font-family: $font-icon;
      content: "\f053";
          position: absolute;
    bottom: 0;
    top: 0;
    left: 10px;
    margin: auto;
    padding-right: $spacing-s;
    }
    &:after {
      font-family: $font-icon;
      content: "\f054";
          position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    right: 10px;
    padding-left: 5px;
    }
  }


  .tabs-layout ul.nav-tabs li > a {
    white-space: nowrap;
  }*/