
<div class="container-fluid">
<div class="row">
	<h1>Styling app</h1>
<div class="col-md-3"><h2>ATOMS</h2><p>The building blocks, colours, fonts, buttons<p><a href="#/atoms" ng-click="removeSingleClass()">Atoms</a></div>
<div class="col-md-3"><h2>MODULES</h2><p>Website components, think search box, tabbed boxes, news block</p><a href="#/organisms" ng-click="removeSingleClass()">organisms</a></div>
<div class="col-md-3"><h2>TEMPLATES</h2><p>Think wireframing. Fast prototype pages focusing on layout and function using dummy content</p><a href="#/templates" ng-click="removeSingleClass()">Templates</a></div>
<div class="col-md-3"><h2>PAGES</h2><p>Finalised pages with actual content/images for sign off</p><a href="#/pages" ng-click="removeSingleClass()">Pages</a></div>
</div>
</div>