<div class="cd-panel from-left">

    <header class="cd-panel-header">
    </header>
    <div class="cd-panel-container">
        <div class="cd-panel-content">
            <span class="close-btn" ng-click="removeSingleClass()"><i class="fa fa-times"></i></span>
            <aside class="sidebar">
                <nav>
                <ul>
                    <li><a href="#/home" ng-click="removeSingleClass()">Home</a></li>
                    <li><a href="#/atoms" ng-click="removeSingleClass()">Atoms</a></li>
                    <li><a href="#/molecules" ng-click="removeSingleClass()">Molecules</a></li>
                    <li><a href="#/organisms" ng-click="removeSingleClass()">Organisms</a></li>
                    <li><a href="#/templates" ng-click="removeSingleClass()">Templates</a></li>
                    <li><a href="#/pages" ng-click="removeSingleClass()">Pages</a></li>
                    <li><a href="#/helpers" ng-click="removeSingleClass()">Help</a></li>
                </ul>

                   <!--  <h2>Helpers</h2>
                    <ul ng-controller="navCtrl">
                        <li ng-repeat="help in helperList"><a href="{{help.url}}" ng-click="removeSingleClass()"><span>{{help.text}}</span></a></li>
                    </ul>-->
                </nav>
            </aside>
        </div> <!-- cd-panel-content -->
    </div> <!-- cd-panel-container -->
</div> <!-- cd-panel -->
